@import '../../sass/_common';

.section {
    // @include clearfix();
    border-bottom: dotted 1px $color-test;
    display: table;
    position: relative;
    width: 100%;

    // color variations
    &.section-plain {
        background-color: $color-neutral;
    }
    &.section-alt {
        background-color: $color-neutral-med;
    }
    &.section-bold {
        background-color: $color-bold;
        color: $color-neutral;
    }

    // content
    .section-content {
        @extend %block;
        border: dotted 1px $color-test;
        margin: $large-margin auto;
        max-width: 900px;
    }
}

:host /deep/ {
    h2 {
        font-family: $font-display;
        color: $color-bold;
    }

    .section-bold h2 {
        color: $color-neutral;
    }
}