@import '../../sass/_common';

.section {
    // @include clearfix();
    border-bottom: dotted 1px $color-test;
    display: table;
    position: relative;
    width: 100%;

    // color variations
    &.section-plain {
        background-color: $color-neutral;
    }
    &.section-alt {
        background-color: $color-neutral-med;
    }
    &.section-bold {
        background-color: $color-bold;
    }

    // content
    .section-content {
        border: dotted 1px $color-test;
        display: block;
        position: relative;
        margin: $large-margin auto;
        max-width: 900px;
    }
}