extends ./layout.jade

block content
    //include ./util.jade
    
    +bigButton('visit the dev blog', 'Unknotted', 'https://unknotted.ucsd.edu/')
        
    +bigButton('fork me on', 'github', 'https://github.com/nixallover')