@import '../../sass/_common';

.skill-list {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;
}

.skill {
    @extend %block;
    @extend %display-text;
    padding: 1rem;
    font-size: 120%;
    color: $color-dark;
    text-align: center;
    letter-spacing: .1rem;
    z-index: 1;
    background-color: $color-neutral;
    margin-bottom: 1rem;
}

// keeping just in case I want to use in intro animation
// .skill {
//     @extend %block;
//     background-color: $color-neutral;
//     margin-bottom: 1rem;

//     .skill-content {
//         @extend %display-text;
//         padding: 1rem;
//         font-size: 120%;
//         color: $color-dark;
//         text-align: center;
//         letter-spacing: .1rem;
//         z-index: 1;
//     }
// }