@import '../../sass/_common';
@import '../../sass/_animations';

$height-header: 200px;
$height-body: 50px;
$height-slide: 50px;

.presentation {
    background-color: $color-neutral-med;
    min-height: 400px;
    margin: 0 0 2rem 0;
    padding: 0;
    border: none;
    overflow: hidden;
    
    .header, .body { transition: height .2s ease-out; }

    .header {
        background-color: $color-dark;
        clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
        display: block;
        height: 200px;
        overflow: hidden;
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .body {
        padding: 2rem;
        height: 400px;
    }

    &:hover,
    &:focus {
        .header { height: 200px - $height-slide; }
        .body { height: 400px + $height-slide; }
    }
}