@import '../../sass/_common';

.section {
    @extend %block;
    @include clearfix();
    width: 100%;

    // color variations
    &.section-plain {
        background-color: $color-neutral;
        clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 10%);
        padding: 100px 0;
    }
    &.section-alt {
        background-color: $color-neutral-med;
    }
    &.section-bold {
        background-color: $color-bold;
        color: $color-neutral;
    }

    @media screen and (max-width: 600px) {
        &.section-plain {
            clip-path: polygon(0 0, 0 97%, 100% 100%, 100% 3%);
        }
    }

    // content
    .section-content {
        @extend %block;
        @include clearfix();
        //border: dotted 1px $color-test;
        margin: $large-margin auto;
        max-width: 1100px;
    }

}

:host /deep/ {
    h2 {
        font-family: $font-title;
        color: $color-bold;
        text-align: center;
    }

    .section-bold h2 {
        color: $color-neutral;
    }
}