extends ./layout.jade

block topNav
    a.selected(href='dev.html') Web Dev
    a(href='illustration.html') Illustration
    a(href='games.html') Games

block content
    p I'm a full-stack web developer, with a focus on interaction design and development. Mostly I work in Node.js. 

    h2 Tools & technologies I love
    ul
        li: a(href='https://trello.com/nixallover/recommend') Trello
        li: a(href='https://nodejs.org/') Node.JS
        li: a(href='http://sass-lang.com/') Sass
    
    .row
        .col-1
            +bigButton('work dev blog', 'Unknotted', 'https://unknotted.ucsd.edu/')
        .col-2
            +bigButton('fork me on', 'GitHub', 'https://github.com/nixallover')
            
            
    .projects