extends ./layout.jade

block topNav
    a.selected(href='dev.html') Web Dev
    a(href='illustration.html') Illustration
    a(href='games.html') Games

block content
    p I'm a full-stack web developer, with a focus on <strong>interaction design and development</strong>. Mostly I work in Node.js. 

    .project
        .project-image
            img(src='img/website-zmd.png' alt='screenshot')
        .project-content
            small June 2015
            h2: a(href='http://tunnel-vision.net/') Zombie Match Defense
            p Promotional website for an upcoming mobile match 3 game


    .project
        .project-image
            img(src='img/website-tunnel.png' alt='screenshot')
        .project-content
            small January 2014
            h2: a(href='http://tunnel-vision.net/') Tunnel Vision - portfolio of Gerald Hardin
            p Project-oriented site for a 3D character sculptor

    
    .row
        .col-1
            +bigButton('work dev blog', 'Unknotted', 'https://unknotted.ucsd.edu/')
        .col-2
            +bigButton('fork me on', 'GitHub', 'https://github.com/nixallover')


    h2 Tools I use & love
    ul
        li: a(href='https://trello.com/nixallover/recommend') Trello
        li: a(href='https://nodejs.org/') Node.JS
        li: a(href='http://sass-lang.com/') Sass
        li: a(href='http://sass-lang.com/') Git
            
            
    .projects