extends ./layout.jade

block topNav
    a(href='dev.html') Web Dev
    a(href='illustration.html') Illustration
    a.selected(href='games.html') Games

block content
    
    ul
        li 1BB Murder House
        li Ant Warz
        li Broadsides