extends ./layout.jade

block topNav
    a(href='dev.html') Web Dev
    a(href='illustration.html') Illustration
    a.selected(href='games.html') Games

block content

    .project
        .project-image
            img(src='img/game-murderhouse.png')
        .project-content
            small January 2014
            h2 1BB Murder House
            //-button.button.button-antiman.button--text-thick.button--text-upper.button--size-s.button--inverted-alt.button--round-s.button--border-thick(href='http://globalgamejam.org/2014/games/1bb-murder-house') Global Game Jam
            a.button.button-antiman(href='http://globalgamejam.org/2014/games/1bb-murder-house') Global Game Jam

        .project-description
            p I was the artist and animator on this

    .project
        .project-image
            img(src='img/game-antwarz.png')
        .project-content
            small February 2013
            h2 Ant Warz
            a.button.button-antiman(href='https://nixallover.carbonmade.com/projects/5143952') Gallery
        .project-description
            p A mobile RTS on the Android platform. I created all the promotional art, game assets, and animations in Adobe Illustrator. <em> No longer available on Google Play.</em>

    .project
        .project-image
            img(src='img/game-broadsides.png')
        .project-content
            small June 2012
            h2 Broadsides
            a.button.button-antiman(href='https://nixallover.carbonmade.com/projects/5143953') Gallery
            a.button.button-antiman(href='http://cse125.ucsd.edu/cse125/2012/cse125g1/') Developer blog
        .project-description
            p A 10-week student project from 2012. Broadsides is a multiplayer broadside combat arena game, with LAN multiplayer support for up to 8 players.
    