include ./util.jade

//- primary layout
doctype html
html(lang="en")
    head
        block title
            title Nix All Over

        block css
            //- styles
            // link(rel='stylesheet', href='/components/fontawesome/css/font-awesome.min.css')
            link(rel='stylesheet', href='styles/main.css')

        //- fonts
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100')


    body
        .title-banner
            .container
                .title-banner-icon
                .title-banner-text
                    h1 Nix All Over
                    h1.sub Art + Dev by Nicole Oliver
                
        nav.top-level-nav(role='navigation')
            .container
                block topNav
                    a(href='dev.html') 
                        i.icon.icon-code
                        |  Web Dev
                    a(href='illustration.html') 
                        i.icon.icon-paint-brush
                        |  Illustration
                    a(href='games.html')
                        i.icon.icon-gamepad
                        |  Games
        

        .leading-content.animated.fadeInLeft
            .container
                block content

        footer
            .container
                p &copy; 2015 Made with &hearts; by <a href="mailto:nicole@nixallover.com">Nicole Oliver</a>.


        block scripts
            //- scripts: libs 
            script(src='scripts/jquery.min.js')
            script(src='https://use.fonticons.com/fff61f37.js')