//- primary layout
doctype html
html(lang="en")
    head
        block title
            title Nix All Over

        block css
            //- styles
            // link(rel='stylesheet', href='/components/fontawesome/css/font-awesome.min.css')
            link(rel='stylesheet', href='styles/main.css')

        //- fonts
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100')


    body
        .title-banner
            .container
                .title-banner-icon
                .title-banner-text
                    h1 Nix All Over
                    h1.sub Art + Dev by Nicole Oliver
                
                
        nav.top-level-nav(role='navigation')
            .container
                a.selected(href='/dev') Web Dev
                a(href='/illustration') Illustration
                a(href='/games') Games
        

        .leading-content
            .container
                block content

        footer
            .container
                p &copy; Made with &hearts; by Nicole Oliver. All rights reserved.


        block scripts
            //- scripts: libs 
            script(src='scripts/jquery.min.js')