//- jade mixins

//- strip layout
mixin bigButton(name)
    a.big-button
        img.big-button-icon(src='img/icon-dev.png')
        .big-button-text
            .small visit the dev blog
            | Unknotted
        