@import '../../sass/_common';

.title-section {
    animation: scrollup 1s ease-out 2s both;
    background-color: $color-bold;
    color: $color-neutral;
    clip-path: polygon(0 0, 0 85%, 50% 100%, 100% 85%, 100% 0);
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

// .brand-title-block {
    
//     //animation: fadein .2s ease-in-out;
// }

.title-section-content {
    @extend %block;
    border: dotted 1px $color-test;
    margin: $large-margin auto;
    max-width: 900px;
}

h1 {
    font: 400% $font-title;
    margin-bottom: 0;
    text-align: center;
    // animation: fadein 1s ease-in-out;
}

.subtitle {
    @extend %display-text;
    font-size: 150%;
    text-align: center;
    margin-top: 0;
    opacity: .8;
    //animation: fadein 1s ease-in-out .5s both;
}

.brand-image {
    @extend %block;
    //background-color: $color-neutral;
    //border-radius: 50%;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    animation: inflate 1s ease-in-out 1s both;

    .art-supply-decoration {
        width: 100%;
    }
}