@import '../../sass/_common';

.title-section {
    animation: scrollup .6s ease-in 2s both;
    background-color: $color-bold;
    color: $color-neutral;
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.title-section-content {
    @extend %block;
    border: dotted 1px $color-test;
    margin: $large-margin auto;
    max-width: 900px;
}

h1 {
    font: 400% $font-title;
    margin-bottom: 0;
    text-align: center;
}

.subtitle {
    @extend %display-text;
    font-size: 150%;
    text-align: center;
    margin-top: 0;
    opacity: .8;
}

.brand-image {
    @extend %block;
    width: 500px;
    height: 200px;
    margin: 0 auto;

    .code-decoration {
        position: absolute;
        width: 100%;
        animation: inflate 1s ease-in-out 1s both;
    }

    .art-supply-decoration {
        width: 100%;
        animation: inflate 1s ease-in-out .5s both;
    }
}