// common variables and mixins

// colors
$color-neutral: #f8f8f3;
$color-neutral-med: #e3e3d9;
$color-bold: tomato;
$color-test: #e2a3e9;

// typography
$font-title: 'Pacifico', cursive;
$font-display: 'Oswald', sans-serif;
$font-standard: 'Open Sans', sans-serif;


// spacing
$margin-med: 2rem;
$large-margin: 4rem;

$border-width: 4px;
$border-radius-med: 5px;


@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%block {
    //border: dotted 1px $test;
    display: block;
    position: relative;
}

%inline-block {
    //border: dotted 1px $test;
    display: inline-block;
    position: relative;
}


// columns
.row {
    @extend %block;
}

%column {
    @extend %inline-block;
    margin: 0;
    padding: 0 1rem 0 0;
    vertical-align: top;

    &:last-child {
        padding-right: 0;
    }
}

.col-3 {
    @extend %column;
    width: 33%;
}

.col-2 {
    @extend %column;
    width: 49.5%;
}