// common variables and mixins

// colors
$color-neutral: #f8f8f3;
$color-neutral-med: #e3e3d9;
$color-bold: tomato;
$color-test: #d221e4;

// typography
$font-standard: 'Open Sans', sans-serif;
$font-display: 'Pacifico', cursive;


// spacing
$large-margin: 4rem;


$border-radius-med: 5px;


@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%block {
    //border: dotted 1px $test;
    display: block;
    position: relative;
}