@import '_common';

body {
    font-family: $font-standard;
    color: $color-dark;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 250%;
}

p {
    line-height: 1.5em;

    &.lead {
        //font-size: 110%;
        font-style: italic;
    }
}