<nix-title></nix-title>

<nix-section type="alt">
  <h2>About me</h2>
  <p>I'm a front-end developer with 5 years of professional experience. I'm currently based in San Diego, California.</p>
</nix-section>

<nix-section>
  <h2>Experience</h2>
  <ul>

  </ul>

  <h2>Education</h2>
  <p>BA, Studio Art - University of California, San Diego - 2009-2012</p>
</nix-section>

<nix-section type="bold">
  <h2>Projects</h2>
</nix-section>

<nix-section type="alt">
  <nix-skills></nix-skills>
</nix-section>

<nix-section>
  <h2>Presentations</h2>

  <div class="row">
    <div class="col-2" *ngFor="let presentation of presentations">
      <div class="presentation">
        <h3>
          <a href="{{presentation.url}}">{{presentation.title}}</a>
        </h3>
        <p><em>{{presentation.subtitle}}, {{presentation.date}}</em></p>
        <p>{{presentation.description}}</p>
      </div>
    </div>
  </div>
</nix-section>

<nix-section type="alt">
  <h2>Drop me a line</h2>
  <nix-contact></nix-contact>
</nix-section>