<h1>{{appTitle}}</h1>
<p>Front-end Web Developer</p>

<nix-section type="alt">
  <h2>About me</h2>
  <p>I'm a front-end developer with 5 years of professional experience. I'm currently based in San Diego, California.</p>

  <h2>Drop me a line</h2>
</nix-section>

<nix-section>
  <h2>Experience</h2>

  <h2>Education</h2>

</nix-section>

<nix-section type="bold">
  <h2>Projects</h2>
</nix-section>

<nix-section type="alt">
  <nix-skills></nix-skills>
</nix-section>

<nix-section>
  <h2>Presentations</h2>

  <ul>
    <li>Node.js - the new swiss army chainsaw</li>
    <li>Smart Text https://www.youtube.com/watch?v=5W3SZ_o8m5o</li>
  </ul>
</nix-section>