//- jade mixins

//- strip layout
mixin bigButton(opener, name, url)
    a.big-button.button(href=url)
        div(class='big-button-icon bbi-#{name}')
        .big-button-text
            .small= opener
            | #{name}