@import '../../sass/_common';

.title-section {
    animation: scrollup 1s ease-out 2.3s both;
    background-image: linear-gradient($color-fade, $color-bold);
    color: $color-neutral;
    display: block;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.title-section-content {
    @extend %block;
    //border: dotted 1px $color-test;
    margin: $large-margin auto;
    max-width: 900px;
}

h1 {
    font: 400% $font-title;
    margin-bottom: 0;
    text-align: center;
}

// idea I had to have 2 shadows come in to main title
// .brand-shadow {
//     color: darken($color-bold, 15);
//     position: absolute;
//     margin: 0;
//     transform: translate(-100%, -50%);
//     transition: transform 1s;
// }

.subtitle {
    @extend %display-text;
    font-size: 150%;
    text-align: center;
    margin-top: 0;
    opacity: .8;
}

.brand-image {
    @extend %block;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    animation: inflate 1s ease-in-out 1s both;
}