// images

$img-doors          : '../img/doors.png'        ;
$img-zombie-move    : '../img/ZombieA-move.png' ;
$img-zombie-death   : '../img/ZombieA-death.png';
$img-brains         : '../img/brains.png'       ;
$img-brainA         : '../img/BrainA-anim.png'  ;