// top nav
%chevron-slant {
    content: '';
    position: absolute;
    top: 20px;
    height: 150%;
    width: 50%;
    background-color: $cMain;
}

.chevron {
    @include animated(.9s, both);
    display: block;
    position: fixed;
    top: 0;
    background-color: $cMain;
    padding: 12px;
    margin-bottom: 6px;
    margin-top: -20px;
    height: 90px;
    width: 100%;
    z-index: 99;

    &:before {
        @extend %chevron-slant;
        left: 0;
        @include skew(0deg, 5deg);
    }

    &:after {
        @extend %chevron-slant;
        right: 0;
        @include skew(0deg, -5deg);
    }
}

#top-nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

%nav-block {
    @extend %block;
    float: left;
}

.top-left-nav,
.top-right-nav {
    @extend %nav-block;
    width: 40%;
}

.top-center-nav {
    @extend %nav-block;
    width: 20%;
}

#nav-brand-logo {
    @extend %block;
    height: auto;
    margin: 0 auto;
    max-width: 220px;
    min-width: 180px;
}

.brand-and-social,
.brand {
    @extend %block;
    float: left;
}

.top-nav-links {
    @extend %block;
    //border: dotted 1px blue;
    margin: 10px;
    float: left;

    &.right {
        float: right;

        .store-link {
            margin: 5px 0 5px 10px;
        }
    }
}

%top-nav-link {
    @extend %block;
    float: left;
    margin: 5px 10px 5px 0;
    opacity: .8;
    @include transition(background-color, .5s, ease-in);

    &:hover,
    &:focus {
        opacity: 1;
    }
}

$width-social: 50px;
.icon-link {
    @extend %top-nav-link;
    @include border-radius(50%);
    background: $cMainHi url(../img/social.png) 0 0 no-repeat;
    height: $width-social;
    width: $width-social;
}

/*a*/.store-link {
    @extend %top-nav-link;
    border-radius: 10px;
    background-image: none;
    background-color: $cAltDark;
    float: right;
    height: auto;
    opacity: 1;
    overflow: hidden;
    width: auto;

    img {
        width: 200px;
    }

    &.disabled {
        cursor: context-menu;
        opacity: .7;

        &:hover,
        &:focus {
            opacity: .7;
        }
    }
}

$height-shovelware-logo: 90px;

#shovelware-website { 
    background: transparent none;
    @include border-radius(0%);
    //border: dotted 1px blue;
    float: left;
    margin: 0 0 0 10px;
    height: $height-shovelware-logo;
    width: $height-shovelware-logo;

    img {
        margin-top: -5px;
        // max-height: $height-shovelware-logo;
        // max-width: $height-shovelware-logo;
    }
}
#presskit   { background-position: 0 (-$width-social * 0) }
#tumblr     { background-position: 0 (-$width-social * 1) }
#twitter    { background-position: 0 (-$width-social * 2) }
#facebook   { background-position: 0 (-$width-social * 3) }
#email      { background-position: 0 (-$width-social * 4) }


@media screen and (max-width: 1120px) {
    .social {
        //max-width: 190px;
    }       
    .store-link {
        display: block;
    }
    .chevron {
        height: 110px;

        &:before {
            @include skew(0deg, 0deg);
        }

        &:after {
            @include skew(0deg, 0deg);
        }
    }  
}

@media screen and (max-width: 810px) {
    .brand { 
        width: 40%;
    }
    .top-nav-links.social {
        margin: 10px 0 0 0;
        width: 60%;
    }
    $width-social: 40px;
    .icon-link {
        background-size: $width-social ($width-social*5);
        height: $width-social;
        margin: 4px;
        width: $width-social;
    }

    #presskit   { background-position: 0 (-$width-social * 0) }
    #tumblr     { background-position: 0 (-$width-social * 1) }
    #twitter    { background-position: 0 (-$width-social * 2) }
    #facebook   { background-position: 0 (-$width-social * 3) }
    #email      { background-position: 0 (-$width-social * 4) }
}

@media screen and (max-width: 650px) {  
    .brand { width: 100%; }
    .top-nav-links.social {
        margin: 0;
        width: 100%; 
    }
    .top-nav-links { width: auto; } 
    .store-link img { width: 150px; }
}