@import '../../sass/_common';
@import '../../sass/_animations';

.presentation {
    background-color: $color-neutral-med;
    //animation: fadeIn 1s ease-in;
    //transition: all .5s ease;
    min-height: 400px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 40px 0px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(20, 20, 20, .2);

    .header {
        background-color: $color-dark;
        display: block;
        height: 200px;
        overflow: hidden;
        width: 100%;
    }

    .body {
        padding: 2rem;
    }

    a {
        background-color: $color-bold;
        color: $color-neutral;
        text-decoration: none;
        padding: 1.5rem 4rem;
        margin: .2rem 0;
        display: inline-block;
        position: relative;
        overflow: hidden;

        .flurry {
            display: block;
            border-radius: 50%;
            background-color: $color-dark;
            position: absolute;
            width: 0px;
            height: 0px;
            top: -100px;
            left: -100px;
            transition: all 1s;
            z-index: 3;
        }

        .content {
            z-index: 5;
        }

        &:hover {
            .flurry {
                width: 400px;
                height: 400px;
            }
            // span {
            //     font-size: 110%;
            // }
        }
    }
}