@import '../../sass/_common';
@import '../../sass/_animations';

.presentation {
    background-color: $color-neutral-med;
    padding: 2rem;
    animation: fadeIn 1s ease-in;
    transition: all .5s ease;

    .presentation-title {
        @extend %display-text;
        font-size: 140%;
    }

    &:hover {
        transform: scale(1.05);
        background-color: darken($color-neutral-med, 5);
    }


}