@import '../../sass/_common';

.project {
    @extend %block;
    @include clearfix;
    background-color: $color-dark;
    color: $color-neutral;
    margin: 0 0 4rem 0;
    max-height: 400px;
    text-align: right;
    width: 100%;

    &:nth-child(odd) {
        background-color: darken($color-dark,5);
        text-align: left;

        .cover-image {
            float: right;
            //clip-path: polygon(0 0, 10% 50%, 0 100%, 100% 100%, 100% 0);
        }

    }

    .description-container {
        @extend %inline-block;
        border: dotted 1px lighten($color-dark, 5);
        box-sizing: border-box;
        height: 100%;
        margin: 0;
        padding: 2rem;
        vertical-align: top;
    }

    .cover-image {
        //clip-path: polygon(0 0, 0 100%, 100% 100%, 90% 50%, 100% 0);
        background-color: $color-neutral;
        float: left;
        height: auto;
        max-width: 500px;
        width: auto;
    }

    .project-title {
        color: $color-neutral;

        span { background-color: $color-bold; }
    }

    // &:hover {
    //     .cover-image {
    //         f
    //     }
    // }

    
    // $width-button: 60px;

    // .button-expand {
    //     border: solid 4px $color-bold;
    //     border-radius: 50%;
    //     background-color: transparent;
    //     position: absolute;
    //     width: $width-button;
    //     height: $width-button;
    //     top: 40%;
    //     left: 40%;
    // }

    // &:hover, 
    // &:focus {
    //     .background {
    //         //transform: scale(1);
    //         //background-position: center -2rem;

    //         &::after {
    //             opacity: .4;
    //         }
    //     }
    // }
}

.modal-overlay {
    background-color: transparentize($color-bold, .5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.modal {
    @extend %block;
    background-color: $color-neutral;
    box-sizing: border-box;
    padding: 2rem;
    margin: 5rem auto 0;
    max-width: 900px;
    
    &:after {
        content: '';
    }

}

$modal-button-width: 40px;
.modal-close-btn {
    background-color: $color-neutral-med;
    border: 0;
    float: right;
    width: $modal-button-width;
    height: $modal-button-width;
}

.technologies {
    list-style: none;
    padding: 0;

    li {
        background-color: $color-neutral-med;
        font-family: $font-display;
        padding: .5rem;
        margin: .3rem;
        display: inline-block;
        text-transform: uppercase;
    }
}