@import '../../sass/_common';

// .project-container {
//     clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 10%);
// }

.project {
    @extend %block;
    //border: solid 1px $color-test;
    //border-bottom: solid 5px $color-bold;
    width: 100%;
    //overflow: hidden;
    background-color: $color-dark;
    height: 400px;
    margin: 0 0 4rem 0;
    // clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 10%);

    &:nth-child(odd) {
        background-color: darken($color-dark,5);

        .cover-image {
            float: right;
        }

    }

    .image-container,
    .description-container {
        @extend %inline-block;
        //border: solid 1px $color-test;
        box-sizing: border-box;
        min-height: 400px;
        margin: 0;
        vertical-align: top;
    }

    .cover-image {
        width: auto;
        height: 100%;
    }

    // .image-container {
    //     background: center center;
    //     background-color: $color-test;
    //     width: 45%;

    //     // &.project-isa { background-image: url(/assets/project-isa.jpg); }
    //     // &.project-zmd { background-image: url(/assets/project-zmd.jpg); }
    //     // &.project-lab { background-image: url(/assets/project-lab.jpg); }
    //     // &.project-amb { background-image: url(/assets/project-amb.jpg); }
    // }

    .description-container {
        padding: 2rem;
        //width: 54%;
    }

    // .background {
    //     background-position: center center;
    //     display: block;
    //     height: 100%;
    //     position: absolute;
    //     //transform: scale(1.3);
    //     //transition: transform .4s ease-out;
    //     width: 100%;

    //     /* colored overlay */
    //     &::after {
    //         background-color: $color-dark;
    //         position: absolute;
    //         content: '';
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         opacity: 0;
    //         transition: opacity .4s ease-out;
    //     }

    //     &.project-isa { background-image: url(/assets/project-isa.jpg); }
    //     &.project-zmd { background-image: url(/assets/project-zmd.jpg); }
    //     &.project-lab { background-image: url(/assets/project-lab.jpg); }
    //     &.project-amb { background-image: url(/assets/project-amb.jpg); }
    // }

    .project-title {
        color: $color-neutral;
        // margin: 2rem;
        // position: absolute;
        // bottom: 3rem;
        // line-height: 2.5rem;

        span {
            background-color: $color-bold;
        }
    }

    // $width-button: 60px;

    // .button-expand {
    //     border: solid 4px $color-bold;
    //     border-radius: 50%;
    //     background-color: transparent;
    //     position: absolute;
    //     width: $width-button;
    //     height: $width-button;
    //     top: 40%;
    //     left: 40%;
    // }

    // &:hover, 
    // &:focus {
    //     .background {
    //         //transform: scale(1);
    //         //background-position: center -2rem;

    //         &::after {
    //             opacity: .4;
    //         }
    //     }
    // }
}

// .project {
//     @extend %inline-block;
//     width: 44%;
//     margin: 3%;
//     overflow: hidden;
//     vertical-align: top;
//     transition: all .3s;

//     &:hover {
//         width: 50%;
//         margin: 0;

//         .project-description {
//             h3, div {
//                 transform: translate(0,0);
//             }
//         }
//         .project-overlay {
//             //transform: translate(0,0);
//             opacity: .4;
//         }
//     }
// }