<div class="modal-overlay" [class.active]="active">
  <div *ngIf="active" class="modal" [@fadeBack]>
    <button (click)="active = undefined" type="button" class="modal-close-btn" aria-label="Close"></button>

    <h3 class="project-title">{{active.title}} ({{active.type}})</h3>

    <a *ngIf="active.url" class="block-button pull-right" [href]="active.url">
      Visit site
    </a>

    <p>{{active.date}}</p>

    <div class="role-description">
      <h4 class="role-title">{{active.roleTitle}}</h4>
      <p>{{active.roleDescription}}</p>
    </div>

    <h4>Project description</h4>
    <p>{{active.description}}</p>

    <h4>Technologies</h4>
    <ul class="technologies">
      <li *ngFor="let tech of active.technologies">{{tech}}</li>
    </ul>
  </div>
</div>

<nix-section type="alt">
  <h2>Recent projects</h2>
  
  <div class="project" *ngFor="let project of projects">
    <!-- <div class="image-container project-{{project.image}}"></div> -->
    <img src="/assets/{{project.image}}.png" class="cover-image" />
    <div class="description-container">
      <h3 class="project-title"><span>{{project.title}}</span></h3>
      <p>{{project.type}} - {{project.date}}</p>
      <p>
        <button (click)="setActiveProject(project)" type="button" class="block-button">More</button>
      </p>
    </div>
  </div>
</nix-section>