<div *ngIf="active" class="modal-overlay">
  <div class="modal">
    <button (click)="active = undefined" type="button" class="modal-close-btn" aria-label="Close"></button>

    <h3 class="project-title"><span>{{active.title}}</span></h3>
    <p>{{active.date}}</p>

    <h4>Responsibilities</h4>
    <p>{{active.roleDescription}}</p>

    <h4>Project description</h4>
    <p>{{active.description}}</p>

    <h4>Technologies</h4>
    <ul class="technologies">
      <li *ngFor="let tech of active.technologies">{{tech}}</li>
    </ul>
  </div>
</div>

<nix-section>
  <h2>Recent projects</h2>
  
  <div class="project" *ngFor="let project of projects">
    <!-- <div class="image-container project-{{project.image}}"></div> -->
    <img src="/assets/{{project.image}}.png" class="cover-image" />
    <div class="description-container">
      <h3 class="project-title"><span>{{project.title}}</span></h3>
      <p>{{project.date}}</p>
      <button (click)="setActiveProject(project)" type="button" class="block-button">Open</button>
    </div>
  </div>
</nix-section>