// nixallover.com
// created 7/17/2015 by nicole@nixallover.com

// colors
$white: #fff;
$cream: #EFEBDC;
$red: #EF6250;
$mint: #3FEFB9;
$pink: #EC1E74;

// color assignments
$lightest: $white;
$neutral: $cream;
$accent: $red;
$highlight: $mint;
$test: $pink;

// default color functions
@function hoverify($color){
  @return darken($color, 15);
}

// imports
@import 'normalize';
@import 'mixins';

%block {
    //border: dotted 1px $test;
    display: block;
    position: relative;
}

%inline-block {
    //border: dotted 1px $test;
    display: inline-block;
    position: relative;
}

// border for testing
// .leading-content {
//     @extend %block;
// }

.container {
    @extend %block;
    @include clearfix();
    margin: 0 auto;
    max-width: 1100px;
}

body {
    background-color: $lightest;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: $accent;
    
    * {
        @include box-sizing(border-box);
    }
}

footer {
    border-top: solid 6px $neutral;
}

// title banner
$height-dragon: 200px;

.title-banner {
    @extend %block;
    background-color: $accent;
    color: $lightest;
    height: $height-dragon;
}

.title-banner-icon {
    @extend %inline-block;
    background: url('../img/dragon-icon.png') transparent 0 0 no-repeat;
    background-size: $height-dragon $height-dragon;
    height: $height-dragon;
    width: $height-dragon;
    vertical-align: top;
}

.title-banner-text {
    @extend %inline-block;
    padding: 2em;
    height: $height-dragon;
    text-transform: lowercase;
    vertical-align: top;
    
    h1 { 
        font-size: 280%;
        margin: 0 0;
        
        &.sub {
            font-size: 220%;
            font-weight: normal;
            margin: 0 0;
        }
    }
}

.top-level-nav {
    @extend %block;
    background-color: $neutral;
    border-top: solid 6px $highlight;
    color: $accent;
    text-transform: lowercase;
        
    a {
        @extend %inline-block;
        @include transition(color, .5s, ease-in);
        color: $accent;
        font-size: 170%;
        padding: .5em .5em .8em .5em;
        text-decoration: none;
        text-align: center;
        width: 33%;
        
        &.selected {
            font-weight: bold;
            
            &:hover {
                color: $accent;
            }
            
            $height-arrow:15px;
    
            &:after {
                border-left: $height-arrow solid transparent;
            	border-right: $height-arrow solid transparent;
            	border-bottom: $height-arrow solid $lightest;
                bottom: 0;
                content: '';
            	height: 0; 
                left: 47%;
                position: absolute;
                width: 0;
            }
        }
        &:hover {
            color: hoverify($accent);
        }
    }
}

.leading-content {
    @extend %block;
    padding: 3em 0;
}



$height-big-button: 175px;

/*a*/.big-button {
    @extend %block;
    @include transition(background-color, .5s, ease-in);
    background-color: $accent;
    color: $lightest;
    min-height: $height-big-button;
    margin: 2em auto;
    text-decoration: none;
    width: 100%;
    
    &:hover {
        background-color: hoverify($accent);
    }
    
    .big-button-icon {
        background: url('../img/dragon-icon.png') transparent 0 0 no-repeat;
        background-size: auto $height-big-button;
        border:none;
        float: left;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: $height-big-button;
        width: $height-big-button;
        
        &.bbi-Unknotted { background-image: url('../img/icon-dev.png'); }
        &.bbi-GitHub { background-image: url('../img/icon-github.png'); }
        &.bbi-Tumblr { background-image: url('../img/icon-illustration.png'); }
    }
    
    .big-button-text {
        font-size: 200%;
        padding: 1em;
        font-weight: bold;
        text-align: right;
        vertical-align: top;
        margin-left: $height-big-button;
        
        .small {
            font-size: 80%;
            font-weight: normal;
        }
    }
}


// columns (2)

.row {
    @extend %block;
    
    .col-1, 
    .col-2 {
        @extend %inline-block;
        width: 50%;
    }
    
    .col-1 { padding-right: 1em; }
    .col-2 { padding-left: 1em; }
}

.project {
    @extend %block;
}