@import '../../sass/_common';

.project {
    @extend %block;
    @include clearfix;
    background-color: $color-dark;
    color: $color-neutral;
    margin: 0 0 4rem 0;
    max-height: 400px;
    text-align: right;
    width: 100%;

    @media screen and (min-width: 800px) {
        &:nth-child(odd) {
            background-color: darken($color-dark,5);
            text-align: left;

            .cover-image {
                float: right;
                margin-right: 0;
                margin-left: 2rem;
            }

        }
    }

    .description-container {
        @extend %block;
        //border: dotted 1px lighten($color-dark, 5);
        box-sizing: border-box;
        height: 100%;
        margin: 0;
        padding: 2rem;
        vertical-align: top;
    }

    .cover-image {
        background-color: $color-neutral;
        display: block;
        float: left;
        height: auto;
        max-width: 500px;
        margin-right: 2rem;
        margin-left: 0;
        width: auto;
    }

    .project-title {
        color: $color-neutral;
        line-height: 1.5em;

        span { background-color: $color-bold; }
    }
}

@media screen and (max-width: 800px) {
    .project {
        max-height: none;

        .cover-image {
            float: none;
            margin: 0 auto;
            max-width: 100%;
        }

        .description-container {
            text-align: center;
        }
    }
}

.role-title {
    background-color: $color-dark;
    color: $color-neutral;
    float: left;
    font-family: $font-display;
    font-weight: normal;
    margin: 0;
    padding: .5rem;
    font-size: 150%;
    margin-top: -2.5rem;
    text-transform: uppercase;
}

.role-description {
    background-color: $color-neutral-med;
    padding: 1rem 1.5rem .5rem 1.5rem;
    margin-top: 2.5rem;
}

.modal-overlay {
    background-color: transparentize($color-bold, 1);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 1.5s;

    // hidden styles 
    visibility: hidden;
    //opacity: 0;

    &.active {
        background-color: transparentize($color-bold, .5);
        visibility: visible;
        //opacity: 1;
    }
}

.modal {
    @extend %block;
    background-color: $color-neutral;
    box-sizing: border-box;
    padding: 2rem;
    margin: 5rem auto 0;
    max-width: 900px;
    
    &:after {
        content: '';
    }

}

$modal-button-width: 40px;
.modal-close-btn {
    background-color: transparent;
    border: 0;
    cursor: hand;
    float: right;
    position: relative;
    width: $modal-button-width;
    height: $modal-button-width;

    &::before, &::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background-color: $color-dark;
        transition: all .4s;
    }
    &::before {
        @include transform(rotate(45deg));
    }
    &::after {
        @include transform(rotate(-45deg));
    }

    &:hover, &:focus {
        &::before, &::after {
            background-color: $color-bold;
        }

        &::before {
            @include transform(rotate(-45deg));
        }
        &::after {
            @include transform(rotate(45deg));
        }
    }
}

.technologies {
    list-style: none;
    padding: 0;

    li {
        background-color: $color-neutral-med;
        font-family: $font-display;
        padding: .5rem;
        margin: .3rem;
        display: inline-block;
        text-transform: uppercase;
    }
}