<nix-title></nix-title>

<nix-projects></nix-projects>

<nix-section type="alt">
  <nix-skills></nix-skills>
</nix-section>

<nix-section>
  <h2>Experience & Education</h2>
  <div class="row">
    <div class="col-2">
      <div class="experience-block">
        <div class="image"><i class="icon icon-code"></i></div>
        <p>5 years in javascript-focused web development</p>
      </div>
    </div>
    <div class="col-2">
      <div class="experience-block">
        <div class="image">
            <i class="icon icon-book"></i>
        </div>
        <p>Careful attention to user experience and research-backed designs</p>
        <p></p>
      </div>
    </div>
    <div class="col-2">
      <div class="experience-block">
        <div class="image">
          <i class="icon icon-pencil"></i>
        </div>
        <p>BA in Studio Art from University of California, San Diego</p>
      </div>
    </div>
  </div>
  <nix-presentations></nix-presentations>
</nix-section>


<nix-section type="alt">
  <div class="row">
    <div class="col-4">
      <h3>I'm passionate about building fun, intuitive interfaces</h3>
      <p>Aesthetics and persuasive design have always been my passion.</p>
    </div>
    <div class="col-2">
      <div class="headshot">
          <img src="assets/nicole-oliver.jpg" />
      </div>
    </div>
  </div>
</nix-section>


<nix-section type="alt">
  <div class="row">
    <div class="col-2">
      <h3>Drop me a line</h3>
      <ul class="contact-list">
        <li><i class="icon icon-envelope-open"></i> <a href="mailto:nicole@nixallover.com">nicole@nixallover.com</a></li>
        <li>
          <i class="icon icon-map-marker"></i> I'm based in <strong>Seattle, Washington</strong>
          <img class="image" src="/assets/seattle-mountain.png" />
        </li>
      </ul>
      
    </div>
    <div class="col-4">
      <h3 class="text-right">Let's connect</h3>
      <nix-contact></nix-contact>
    </div>
  </div>
</nix-section>