<nix-title></nix-title>

<nix-section type="alt">
  <h2>About me</h2>
  <div class="row">
    <div class="col-4">
      <p class="lead">
        I'm a front-end developer with 5 years of professional experience. 
        I'm currently based in San Diego, California.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis repellendus deserunt, corporis aperiam praesentium id expedita nihil, odit nulla, illo porro! Voluptatum debitis perferendis, necessitatibus ut sunt repellendus autem.</p>
    </div>
    <div class="col-2">
      <img src="assets/nicole-oliver.jpg" class="profile-image" />
    </div>
  </div>
</nix-section>

<nix-section type="bold">
  <nix-projects></nix-projects>
</nix-section>

<nix-section>
  <nix-presentations></nix-presentations>
</nix-section>

<nix-section type="alt">
  <nix-skills></nix-skills>
</nix-section>

<nix-section type="bold">
  <h2>Experience</h2>

  <h2>Education</h2>
  <p>BA, Studio Art - University of California, San Diego - 2009-2012</p>
</nix-section>

<nix-section type="alt">
  <h2>Drop me a line</h2>
  <nix-contact></nix-contact>
</nix-section>