@import '../../sass/_common';

.skill-list {
    @extend %block;
    column-count: 3;
    list-style: none;
    margin: 0 1rem $margin-med 0;
    padding: 0;
    width: 100%;
}

.skill {
    @extend %block;
    background-color: $color-neutral;
    margin-bottom: 1rem;

    .skill-overlay {
        border: solid 4px transparent;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        transform: rotate(0);
        transition: transform .4s, border-color .2s;
        -webkit-backface-visibility: hidden;

        &:hover, 
        &:focus {
            border-color: $color-bold;
            transform: rotate(3deg);
        }
    }

    .skill-content {
        padding: 1rem;
        font-size: 120%;
        color: $color-bold;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .1rem;
    }
}